<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ now.date() }}</title>
</head>
<body>
    <style type="text/css">
        table {
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 0.5em;
        }

        td.x {
            background: #FEE;
            text-align: center;
        }

        td.a {
            font-family: monospace;
        }

    </style>
    <p>
        Tabulā redzams, kādas sīkdatnes dažādas vietnes uzstāda apmeklētāja
        pārlūkprogrammā pirmā apmeklējuma laikā, pirms apmeklētājs devis piekrišanu
        sīkdatņu uzstādīšanai.
    </p>
    <p>
        Ja redzi savu vietni tabulā ar "jā" tai līdzās, lūdzu izlabo,
        lai izsekošanas, reklāmu, statistikas un citas ne-obligātās sīkdatnes
        tiktu uzstādītas tikai pēc lietotāja atļaujas saņemšanas. Datu valsts inspekcijas
        satatavotajās <a href="https://www.dvi.gov.lv/lv/media/1517/download">vadlīnijās</a>
        var iepazīties ar prasībām sīkdatņu izmantošanai tīmekļa vietnēs.
    </p>
    <p>
        Sagatavots <strong>{{ now.date() }}</strong>, izmantojot
        <a href="https://github.com/cuu508/tasting-party">tasting-party</a>.
    </p>
    <table>
        <tr>
            <th>Vietne</th>
            {% for target in targets %}
            <th>Uzstāda {{ target }}</th>
            {% endfor %}
            <th>Visas sīkdatnes</th>
        </tr>
        {% for domain, cookies in sites.items() %}
        <tr>
            <td><a href="https://{{ domain }}">{{ domain }}</a></td>
            {% for target in targets%}
                {% if target in cookies %}
                    <td class="x">Jā</td>
                {% else %}
                    <td></td>
                {% endif %}
            {% endfor %}
            <td class="a">
                <details>
                    <summary>{{ cookies|length }}</summary>
                    <table>
                        <tr>
                            <th>Vārds</th>
                            <th>Vērtība</th>
                            <th>Domēns</th>
                            <th>Termiņš</th>
                        </tr>
                        {% for c in cookies.values() %}
                        <tr>
                            <td>{{ c["name"] }}</td>
                            <td>{{ c["value"]|truncate(50) }}</td>
                            <td>{{ c["domain"] }}</td>
                            <td>{{ c["expiry_dt"] }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </details>
            </td>
        </tr>
        {% endfor %}
    </table>

    <h2>Izmaiņu vēsture</h2>
    <ul>
    {% for ts, domain, cookie, added in events %}
        <li>
            {{ ts }}
            {% if added %}
                😭 Vietne <a href="https://{{ domain }}">{{ domain }}</a> sāk uzstādīt sīkdatni <code>{{ cookie }}</code>.
            {% else %}
                🥳 Vietne <a href="https://{{ domain }}">{{ domain }}</a> pārstāj uzstādīt sīkdatni <code>{{ cookie }}</code>.
            {% endif %}
        </li>
    {% endfor %}
    </ul>
</body>
</html>
