<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>
            Atskaite: sīkdatnes, ko uzstāda pirms lietotāja atļaujas saņemšanas
        </title>
    </head>
    <body>
        <style type="text/css">{% include "assets/style.css" %}</style>
        <p>
            Tabulā redzams, kādas sīkdatnes dažādas vietnes uzstāda apmeklētāja
            pārlūkprogrammā pirmā apmeklējuma laikā, pirms apmeklētājs devis
            piekrišanu sīkdatņu uzstādīšanai.
        </p>
        <p>
            Ja redzi savu vietni tabulā ar "jā" vai sīkdatnes nosaukumu sarkanā krāsā
            tai līdzās, lūdzu izlabo, lai izsekošanas, reklāmu, statistikas un citas
            ne-obligātās sīkdatnes tiktu uzstādītas tikai pēc lietotāja atļaujas
            saņemšanas. Datu valsts inspekcijas sagatavotajās
            <a href="https://www.dvi.gov.lv/lv/media/1517/download">vadlīnijās</a>
            var iepazīties ar prasībām sīkdatņu izmantošanai tīmekļa vietnēs.
        </p>

        <table id="sites">
            <tr>
                <td id="filtering" colspan="{{ targets|length + 2 }}">
                    <h2>
                        Filtrēšana
                        <small>(<span id="numVisible">{{ num_visible }}</span> no {{ catalog.sites|length }})</small>
                    </h2>
                    <label><input id="showRedOnly" type="checkbox" checked />Rādīt tikai, ja ir sarkanas rūtiņas</label>
                    <select id="category">
                        <option value="">Jebkura kategorija</option>
                        <option value="pharmacy">Aptiekas</option>
                        <option value="dealership">Autosaloni</option>
                        <option value="gambling">Azartspēles</option>
                        <option value="bank">Bankas</option>
                        <option value="ecommerce">Interneta veikali</option>
                        <option value="books">Izdevniecības</option>
                        <option value="edu_tool">Mācību līdzekļi, mācību platformas</option>
                        <option value="city_county">Pilsētas, novadi</option>
                        <option value="medicine">Slimnīcas, laboratorijas, veselības dati</option>
                        <option value="gov">Ministriju, valsts pārvaldes iestāžu mājaslapas</option>
                        <option value="politicians">Politiskās partijas, politiķi</option>
                        <option value="radio_tv">Radio, TV</option>
                        <option value="education">Skolas, augstskolas</option>
                        <option value="hotel">Viesnīcas, viesu nami</option>
                        <option value="news">Ziņu portāli</option>
                        <option value="null">Bez kategorijas</option>
                    </select>
                    <input id="search" type="text" placeholder="Meklē pēc adreses..." />
                </td>
            </tr>
            <tr id="sites-header">
                <th>Vietne</th>
                <th>_ga</th>
                <th>_fbp</th>
                <th>Citas</th>
                <th>Visas sīkdatnes</th>
            </tr>
            {% for site in catalog.sites %}
            <tr data-domain="{{ site.domain }}" class="{{ site.css_classes() }}" {% if not site.any_red() %}style="display: none"{% endif %}>
                <td><a href="https://{{ site.domain }}">{{ site.domain }}</a></td>
                {% if site.matches("_ga") %}<td class="x">Jā</td>{% else  %}<td></td>{% endif %}
                {% if site.matches("_fbp") %}<td class="x">Jā</td>{% else  %}<td></td>{% endif %}
                <td>{% for s in site.other_matches() %}<span>{{ s }}</span> {% endfor  %}</td>
                <td>
                    {% if site.cookies %}
                    <details>
                        <summary>
                            {{ site.cookies|length }} sīkdatne{% if site.cookies|length > 1 %}s{% endif%}
                        </summary>
                        <table>
                            <tr>
                                <th>Vārds</th>
                                <th>Domēns</th>
                                <th>HttpOnly</th>
                                <th>Termiņš</th>
                            </tr>
                            {% for cookie in site.cookies %}
                            <tr>
                                <td>{{ cookie.name }}</td>
                                <td>{{ cookie.domain }}</td>
                                <td>{% if cookie.httpOnly %}jā{% endif %}</td>
                                <td>{{ cookie.expiry_dt()|default('–', true) }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </details>
                    {% else %}–{% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        <h2>Izmaiņu vēsture</h2>
        {% for date, day_events in catalog.get_all_events()|groupby("when")|sort(reverse=True) %}
        {% if loop.index <= 7 %}
        <div class="changes">
            <h3>{{ date|format_date_lv|capitalize }}</h3>
            <ul class="changes">
            {% for event in day_events|sort %}
            <li data-domain="{{ event.site.domain}}" class="{{ event.site.category }}">
                {% if event.added %}
                    🔴 <a href="https://{{ event.site.domain }}">{{ event.site.domain }}</a>
                    sāk uzstādīt sīkdatni <strong>{{ event.cookie_name }}</strong>.
                {% else %}
                    🟢 <a href="https://{{ event.site.domain }}">{{ event.site.domain }}</a>
                    pārstāj uzstādīt sīkdatni <strong>{{ event.cookie_name }}</strong>.
                {% endif %}
                </li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% endfor %}
        <p id="changesEmpty" style="display: none">Nav ierakstu</p>
        <p><a href="history.html">Vairāk vēstures</a></p>

        <h2>Sīkdatņu nosaukumu atšifrējumi</h2>
        <table>
            <tr>
                <th>Sīkdatne</th>
                <th>Kategorija</th>
                <th>Pakalpojums</th>
            </tr>
            <tr>
                <td>_bxID</td>
                <td>Mārketings</td>
                <td>AdBox</td>
            </tr>
            <tr>
                <td>_clck</td>
                <td>Statistika</td>
                <td>Microsoft Clarity</td>
            </tr>
            <tr>
                <td>cX_G</td>
                <td>Mārketings</td>
                <td>cXense</td>
            </tr>
            <tr>
                <td>__eoi</td>
                <td>Mārketings</td>
                <td>Google AdSense</td>
            </tr>
            <tr>
                <td>_fbp</td>
                <td>Mārketings</td>
                <td>Facebook Pixel</td>
            </tr>
            <tr>
                <td>_ga</td>
                <td>Statistika</td>
                <td>Google Analytics</td>
            </tr>
            <tr>
                <td>_gcl_au</td>
                <td>Mārketings</td>
                <td>Google AdSense</td>
            </tr>
            <tr>
                <td>Gdynp</td>
                <td>Statistika</td>
                <td>Gemius</td>
            </tr>
            <tr>
                <td>__gfp_64b</td>
                <td>Mārketings</td>
                <td>Google DoubleClick</td>
            </tr>
            <tr>
                <td>_hj*</td>
                <td>Statistika</td>
                <td>HotJar</td>
            </tr>
            <tr>
                <td>__kla_id</td>
                <td>Mārketings</td>
                <td>Klaviyo</td>
            </tr>
            <tr>
                <td>muc_ads</td>
                <td>Mārketings</td>
                <td>Twitter / X</td>
            </tr>
            <tr>
                <td>OAID</td>
                <td>Mārketings</td>
                <td>OpenX</td>
            </tr>
            <tr>
                <td>_pcid</td>
                <td>Statistika</td>
                <td>Piano Analytics</td>
            </tr>
            <tr>
                <td>_sharedID</td>
                <td>Mārketings</td>
                <td>Prebid</td>
            </tr>
            <tr>
                <td>_snrs_*</td>
                <td>Mārketings</td>
                <td>Synerise</td>
            </tr>
            <tr>
                <td>_ttp</td>
                <td>Mārketings</td>
                <td>TikTok</td>
            </tr>
            <tr>
                <td>__utm*</td>
                <td>Statistika</td>
                <td>Google Analytics</td>
            </tr>
            <tr>
                <td>yashr</td>
                <td>Statistika</td>
                <td>Yandex</td>
            </tr>
        </table>

        <footer>
            Sagatavots <strong>{{ now.date() }}</strong>, izmantojot
            <a href="https://github.com/cuu508/tasting-party">tasting-party</a>.
        </footer>
        <script>{% include "assets/filtering.js" %}</script>
    </body>
</html>
