body {
    font-family: Inter, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
        "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

p {
    max-width: 900px;
}

table {
    border-collapse: collapse;
    white-space: nowrap;
}

th,
td {
    border: 1px solid #ddd;
    padding: 0.5em;
    min-width: 60px;
}

#sites-header > th {
    background: white;
    position: sticky;
    top: -1px;
}

td.x {
    background: #fee;
    color: #a00;
    text-align: center;
}

#filtering {
    background: #eee;
}

div#filtering {
    padding: 0.5em;
    max-width: 900px;
}

#filtering h2,
#filtering label,
#filtering select,
#search {
    display: block;
    margin: 10px;
}

#search {
    width: 309px;
}

details table {
    font-family: monospace;
    font-size: small;
}

h2 {
    margin-top: 40px;
    font-size: 20px;
}

h3 {
    font-weight: normal;
}

.changes ul {
    list-style: none;
    margin: 0 0 0 20px;
    padding: 0;
}

.changes li {
    margin: 8px 0;
    white-space: nowrap;
}

footer {
    margin-top: 1em;
}
